.batch-history {
  background-color: var(--green-100);
}

.batch-history__decorative-section{
  background-color: var(--green-100);
  border-top-left-radius: var(--space-xl);
  border-top-right-radius: var(--space-xl);
  height: calc(2px + var(--space-xl));
  margin-top: calc(-1 * var(--space-xl));
  width: 100%;
}