.error-page {
  align-items: center;
  background-color: var(--brown-100);
  color: var(--brown-500);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: var(--space-xl);
  text-align: center;
}

.error-page__content {
  max-width: 60ch;
}

.error-page__img {
  margin-bottom: var(--space-md);
  max-width: 200px;
}

.error-page__title {
  font-size: var(--fs-3xl);
  font-weight: var(--fw-bold);
  margin-bottom: var(--space-sm);
}

.error-page__text {
  font-size: var(--fs-lg);
  margin-bottom: var(--space-md);
}

.error-page__btn {
  background-color: var(--brown-400);
  border-radius: var(--radius-xl);
  color: var(--white);
  display: inline-block;
  font-family: 'Oswald';
  font-weight: var(--fw-medium);
  padding: var(--space-sm) var(--space-md);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}

.error-page__btn:hover {
  background-color: var(--brown-300);
}
